# ============================
# SISTEMA OPERACIONAL
# ============================
.DS_Store
Thumbs.db

# ============================
# IDEs
# ============================
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# ============================
# JAVA / MAVEN / GRADLE
# ============================
target/
*.log
*.class
*.jar
*.war

# ============================
# ENVIRONMENT
# ============================
.env
.env.*
!.env.exemplo

# ============================
# DOCKER
# ============================
docker-data/
volumes/
*.pid

# ============================
# SPRING BOOT
# ============================
logs/
spring.log

# ============================
# NODE / FRONTEND
# ============================
node_modules/
dist/

# ============================
# UPLOADS / FILES
# ============================
uploads/
tmp/

# ============================
# OUTROS
# ============================
*.swp
*.bak